@* @using ICollection.Service.Dtos.Items
@model ItemDto
@{
    ViewData["Title"] = "Create";
}
<h4>Collection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Collections", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topics" class="control-label"></label>
                    <select asp-for="Topics">
                        <option value="1">Books</option>
                        <option value="2">Favorites</option>
                        <option value="3">Stamps</option>
                        <option value="4">Whiskeys</option>
                        <option value="5">Toys</option>
                        <option value="6">Cars</option>
                        <option value="7">Antiques</option>
                        <option value="8">Other</option>
                    </select>
                    <span asp-validation-for="Topics" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@