@using ICollection.Service.ViewModels.CommentViewModels
@model List<CommentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Style for table */
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }

        /* Style for image */
        .table img {
            width: 80px;
            height: 80px;
        }

        /* Style for name and description */
        .table .text-start {
            text-align: start;
        }

        /* Style for like button */
        .table .like-button {
            display: inline-block;
            margin-right: 5px;
        }

        /* Style for delete button */
        .table .btn-danger {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }

            .table .btn-danger:hover {
                background-color: #c82333;
            }
</style>

<p>
    <a asp-controller="comments" asp-action="create" asp-route-id="@ViewBag.Id">Create a new comment</a>
</p>
<h1>Comment for item</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    <span class="fw-bold px-sm-0 text-gray-500">@item.Content</span>
                </td>
                <td>
                    <a asp-controller="comments" asp-action="Delete" asp-route-id="@ViewBag.Id" asp-route-commentId="@item.Id" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>